<!--
  Generated template for the PlumberListPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header remove" no-border>
  <ion-navbar color="primary">
    <ion-title>{{'Pet Parent' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <div class="pl16 pr16 pb10">
      <ion-searchbar type='search' placeholder="Search" name='search' #search="ngModel" [(ngModel)]="filter.search" 
      (keyup.enter)="onCancel($event)"   (ngModelChange)="getCustomerList(cust_list, $event)">
    </ion-searchbar>
  </div>
</ion-toolbar>

<ion-toolbar color="white" >
    <ion-segment [(ngModel)]="cust_list" >
      <ion-segment-button  value="Pending"  (click)="getCustomerList(cust_list, '' )">
        {{ 'Pending' | translate }}   
      </ion-segment-button>
      <ion-segment-button  value="Verified" (click)="getCustomerList(cust_list, '' )">
        {{ 'Verified' | translate }}  
      </ion-segment-button>
      <ion-segment-button  value="Reject"  (click)="getCustomerList(cust_list, '' )">
        {{ 'Reject' | translate }} 
      </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>



<ion-content padding>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>


<div class="main-history mb70 padding0">
  
  <div class="cs-list" *ngFor="let row of customer; let i = index;" (click)="goOnDetailPage(row.id)">
    <div class="top-block">
      <p>{{row.customer_name | titlecase}}</p>
      <ion-icon name="arrow-forward" color="primary"  ios="ios-arrow-forward"></ion-icon>
    </div>
    <div class="middle-block">
      <div class="three-block">
        <p>{{'Date Created' | translate}} : <strong>{{row.date_created |  date:'d MMMM y'}}</strong></p>
        <p>{{'Status' | translate}} : <strong class="{{row.status}}">{{row.status}}</strong> </p>
      </div>
      <div class="three-block">
        <p>{{'Mobile Number' | translate}} : <strong>{{row.mobile_no}}</strong></p>
      </div>
    </div>
    
    <div class="top-block footer-block">
      <p>
        <i class="material-icons">location_on</i>
        {{row.address |titlecase}} {{row.state |titlecase}} {{row.district |titlecase}} {{row.city |titlecase}} {{row.pincode }}</p>
      </div>
    </div>
    <!-- mobile_no -->
    <!-- <div  class="data-not" *ngIf="customer.length">
      <img  src="assets/imgs/no_found.svg">
    </div> -->
    
    
  </div>
  
  
  
  <ion-fab right bottom (click)="goOnCustomerAdd()">
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
